<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='loginreg.css') }}">
    <title>User Login</title>
</head>
<body>
    <h2>
        USER LOGIN
    </h2>
    <form action="/login" method="post">
    <div class="creds">
        
            <input type="text" class="entry" name="uname" id="uname" placeholder="Username" required>
            <br>
            <input type="password" class="entry" name="pword" id="pword" placeholder="Password" required>
            <div class="logorreg">
                <input type="submit" value="LOGIN" class="logger">
        </form>
        <form action="/register" method="get">
            <input type="submit" value="REGISTER" class="logger">
        </form>
    </div>
    </div>
    

</body>
</html>